.datepicker-container {
  text-align: left;
  border: 1px solid #858585;
  position: relative;
  border-radius: 3px;
  font-size: 0.8rem;

  /* TODO: better solution */
  width: 177px;
}

.datepicker-input {
  padding: 0.15rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.select-tool {
  display: flex;
  align-items: center;
} 

.datepicker-menu {
  display: flex;
  position: absolute;
  user-select: none;
  width: max-content;
  padding: 8px;
  padding-top: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  background-color: #fff;
  z-index: 2;
  /* overflow-y: hidden; */
}

.datepicker-menu nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datepicker-month {
  width: 100px;
}

.datepicker-nav button {
  cursor: pointer;
  border: none;
  background: transparent;
  height: 25px;
  margin: 0;
  opacity: 0.5;
}

.datepicker-month, .datepicker-year {
  cursor: pointer;
  border: none;
  text-align: right;
  font-weight: 700;
  padding: 5px 3px;
  padding-right: 1rem;

  appearance: none;
  background-image: url('./assets/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 0 bottom 50%;
  background-size: 0.65rem auto;
}

.datepicker-month:hover, .datepicker-year:hover {
  text-decoration: underline;
}

.datepicker-month > option, .datepicker-year > option {
  padding: 5px 3px;
}

.datepicker-menu table {
  border-spacing: 0 0;
}

.datepicker-menu th, td {
  width: 32px; /* more dynamic */
  height: 25px;
}

.datepicker-menu th {
  color: #999;
  background: #f1f1f1;
  border: 1px solid #ddd;
  font-size: 12px;
}

.datepicker-menu td {
  color: #666;
  background: #f5f5f5;
  border: 1px solid #ddd;
  text-align: right;
  padding-right: 5px;
}

.datepicker-menu td.greyed {
  opacity: 0.5;
}

.datepicker-menu td.selected {
  background-color: #0099ff;
  color: #fff;
}

.datepicker-menu td:hover {
  cursor: default;
  background-color: #FF8000;
  color: #fff;
}

.datepicker-save-selected {
  width: 100%;
  height: 28px;
  margin-top: 5px;
  /* padding: 4px 17px 4px 33px; */
  color: #82878c;
  border: 1px solid #d7d8da;    
  background: linear-gradient(to bottom, #fff 0%, #f4f8fa 73%);
}

.datepicker-save-selected .active {
  color: #454551;
}

.timepicker {
  width: 58px;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.timepicker_prev, .timepicker_next {
  cursor: pointer;
  background-color: transparent;
  opacity: 0.5;
  border: none;
  margin-left: 14px;
}

.timepicker_prev:hover, .timepicker_next:hover {
  opacity: 1;
}

.timepicker_prev {
  margin-bottom: 7px;
}

.timepicker_next {
  margin-top: 7px;
}

.time_box {
  position: relative;
  height: 151px; /* need to calculate this */
  overflow: hidden;
  /* overflow: scroll;
  overflow-x: hidden; */
  text-align: center;
  border: 1px solid #ddd;
}

.time_box::-webkit-scrollbar-track {
  background: url('./assets/transparent.png');
}

.timepicker_time {
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  background: #f5f5f5;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom-width: 0;
}

.timepicker_time:hover {
  background-color: #FF8000;
  color: #fff;
}

.timepicker_time.selected {
  background-color: #0099ff;
  color: #fff;
}

.timepicker_time:first-child {
  border-top-width: 0;
}

.scrollbar {
  position: absolute;
  width: 7px;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.thumb {
  height: 37px;
  border-radius: 4px;
  background: #ccc;
}
.thumb:hover {
  background-color: #FF8000;
}